.button-act {
  @include font-settings(18px, 18px, bold);
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 14px 0;
  box-sizing: border-box;
  width: 280px;
  height: 55px;
  border: solid 3px;
  border-radius: 50px;

  &--download {
    color: #ffffff;
    border-color: #ffffff;
  }
}

