.competition__intro {
  @include page-padding;
  padding-top: 45px;
  padding-bottom: 17px;
  max-width: 500px;
  margin: 0 auto;
  border-bottom: solid 1px #ffffff;
  box-sizing: border-box;
}

.competition__text-intro {
  @include indent-zero;
  @include font-settings;
  //margin-bottom: 18px;

  &--down {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .competition__intro {
    padding-top: 92px;
  }

  .competition__text-intro {
    font-size: 18px;

    &--down {
      display: inline;
    }
  }
}

