.filter__intro {
  padding: 43px 20px;
}

.filter__text {
  @include font-settings;
  margin: 0;
}

.filter-block {
  background-color: $texture-color;
}

.filter__wrap-img {
  width: 280px;
  padding: 20px;
  margin: 0 auto;
}

.filter__settings {
  @include indent-zero;
  @include page-padding;
  padding-top: 22px;
  height: 140px;
  border: none;
  border-bottom: solid 1px #dddfe0;
  box-sizing: border-box;
}

.filter__set {
  display: inline-block;
  position: relative;
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }

  &--clip {
    .filter__range {
      position: absolute;
      left: -17px;
      top: 52px;

      @supports (background-blend-mode: hue) {
        left: -17px;
        top: 82px;
      }
    }
  }

  &--paint {
    .filter__range {
      display: none;
      left: -17px;
      top: 82px;
    }
  }

  &--contrast {
    .filter__range {
      display: none;
      left: -17px;
      top: 82px;
    }
  }

  input[type="range"] {
    appearance: none;
    width: 240px;
  }

  input[type="range"]:focus {
    outline: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0;
    border: solid 1px #000000;
  }

  input[type="range"]::-webkit-slider-thumb {
    @include range-thumb;
    appearance: none;
    transform: translateY(-50%);
  }

  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 0;
    border: solid 1px #000000;
  }

  input[type="range"]::-moz-range-thumb {
    @include range-thumb;
  }

  input[type="range"]::-ms-track {
    width: 100%;
    height: 0;
    background: transparent;
    border-color: transparent;
    border-width: 9px 0;
    color: transparent;
    margin-top: 10px;
  }

  input[type="range"]::-ms-fill-lower {
    border: 1px solid #000000;
  }

  input[type="range"]::-ms-fill-upper {
    border: 1px solid #000000;
  }

  input[type="range"]::-ms-thumb {
    @include range-thumb;
    transform: translateY(0);
  }
}

.filter__icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  border: solid 2px #000000;
  box-sizing: border-box;
}

.filter-btn {
  padding: 38px 20px 40px;
}

.filter-btn__item {
  margin: 0 auto 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .filter__intro {
    margin-bottom: 27px;
  }

  .filter__text {
    font-size: 18px;
  }

  .filter-block {
    display: flex;
    padding: 57px 20px;
  }

  .filter__wrap-img {
    width: 300px;
    height: 400px;
    padding: 0;
    margin: 0;

    img {
      width: 300px;
      height: 400px;
    }
  }

  .filter__controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-width: 275px;
    box-sizing: border-box;
    margin-left: 45px;
  }

  .filter__settings {
    height: 200px;
    outline: solid 2px yellowgreen;
    padding: 0;
    border-bottom: none;
  }

  .filter__set {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 74px;
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 18px;
    border-bottom: solid 2px black;

    &:first-child {
      height: 55px;
      padding-bottom: 10px;
    }

    &--clip {
      .filter__range {
        position: static;
      }
    }

    &--paint {
      .filter__range {
        display: inline-block;
      }
    }

    &--contrast {
      .filter__range {
        display: inline-block;
      }
    }

    input[type="range"] {
      width: 202px;
    }
  }

  .filter__icon {
    width: 24px;
    height: 24px;
    margin-right: 30px;
  }

  .filter-btn {
    padding: 0 12px 0 0;
  }

  .filter-btn__item {
    margin-bottom: 24px;
    width: 260px;
  }
}

@media (min-width: $desktop-width) {
  .filter {
    @include page-padding(10px);
    width: 960px;
    box-sizing: border-box;
    margin: 0 auto 28px;
  }

  .filter__intro {
    padding: 5px 20px 38px;
  }

  .filter-block {
    padding-left: 80px;
    padding-right: 60px;
  }

  .filter__controls {
    min-width: 410px;
    margin-left: 90px;
  }

  .filter__set {
    justify-content: flex-start;

    input[type="range"] {
      width: 288px;
    }
  }

  .filter__icon {
    width: 44px;
    height: 44px;
    margin-right: 44px;
  }

  .filter-btn {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .filter-btn__item {
    margin: 0;
    width: 183px;
  }
}
