.filter__intro {
  padding: 43px 20px;
}

.filter__text {
  @include font-settings;
  margin: 0;
}

.filter-block {
  background-color: $texture-color;
  padding-top: 20px;
}

.filter__controls {
  height: 160px;
  border-bottom: solid 1px #dddfe0;
}

.filter-btn {
  padding: 38px 20px 40px;
}

.filter-btn__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}
