.reviews {
  padding-top: 48px;
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: -43px;
}

.reviews__list {
  margin-bottom: 38px;
}

.reviews__author-name {
  @include font-settings(18px, 30px, bold);
  @include indent-zero;
  color: #000000;
  font-style: normal;
  margin-bottom: 24px;
}

.reviews__text {
  @include font-settings;
  @include indent-zero;
  color: $base-color;
}

.reviews__item {
  @include indent-zero;
  @include page-padding;
}

.reviews__toggles {
  margin-bottom: 40px;
}
