.top {
  @include page-padding;
  height: 171px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 23%;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.top__title {
  @include indent-zero;
  @include font-settings(24px, 30px, 300);
  color: #ffffff;
}
