body {
  font-family: "Open Sans", "Arial", sans-serif;
  //width: 660px;
  min-width: 320px;
  line-height: 0;
  padding: 0;
  margin: 0 auto;
  text-align: center;

  a[href] {
    cursor: pointer;
  }
}

img {
  width: 100%;
  height: auto;
}
