@mixin font-settings($size: 14px, $line: 30px, $weight: normal) {
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
}

@mixin indent-zero {
  margin: 0;
  padding: 0;
}

@mixin list-none {
  list-style: none;
}

@mixin page-padding {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin fieldset {
  display: block;
  padding: 36px 20px 0;
  margin: 0;
  text-align: left;
}

@mixin border-radius($radius: 2px) {
  border-radius: $radius;
}
