@mixin font-settings($size: 14px, $line: 30px, $weight: normal) {
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
}

@mixin indent-zero {
  margin: 0;
  padding: 0;
}

@mixin list-none {
  list-style: none;
}

@mixin page-padding($indent: 20px) {
  padding-left: $indent;
  padding-right: $indent;
}

@mixin fieldset() {
  //display: block;
  margin: 0;
  text-align: left;
}

@mixin border-radius($radius: 2px) {
  border-radius: $radius;
}

@mixin placeholder-kit {
  &::-webkit-input-placeholder {
    @content;
  }
}

@mixin placeholder-moz {
  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }
}

@mixin placeholder-ms {
  &:-ms-input-placeholder {
    @content;
  }

  &::-ms-input-placeholder {
    @content;
  }
}
